.container {
  position: relative;
}

.counter {
  padding: 10px;
}

.responsive, img {
  width: 100%;
  max-width: 800px;
  height: auto;
}

.hidden {
  display: none;
}

.show {
  display: none;
}

ul {
  list-style-type: none;
}

button {
  margin: 5px;
  background-color: #9900ff;
  color: white;
}

button:hover {
  cursor: pointer;
  background-color: goldenrod;
}

button:active {
  background-color: green;
}

#display {
  width: 800px;
  max-width: 100%;
}
